@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*navigation*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.986);
}

.navbar-brand img {
  height: 3.3rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

/* üye giriş alanı */
#Panel {
  border: 1px solid black;
  width: 480px;
  height: 450px;
  margin: auto;
  margin-top: 100px;
  background-color: whitesmoke;
  border-radius: 5px;
}

#Panel h1 {
  text-align: center;
}

#Panel p {
  color: black;
  font-size: 17px;
  text-align: center;
  padding-top: 40px;
}

#Panel a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  margin-left: -1px;
}

#Panel-2 {
  border: 1px solid black;
  width: 480px;
  height: 460px;
  margin: auto;
  margin-top: 100px;
  background-color: whitesmoke;
  border-radius: 5px;
}

#Panel-2 h1 {
  text-align: center;
}

#Panel-2 a {
  color: black;

  font-size: 11px;
  margin-left: -1px;
}

input {
  width: 70%;
  height: 40px;
  display: block;
  margin: auto;
  border: none;
  background-color: #e1dfdf;
  border-bottom: 2px solid #333333;
}

input:focus {
  outline: 0;
  width: 60%;
  transition: 1sn;
  border: 2px solid #333333;
  border-radius: 10px;
}

button {
  width: 120px;
  height: 50px;
  display: block;
  margin-top: 15px;
  border: none;
  color: black;
  font-size: 17px;
  border-radius: 2px;
  border: 1px solid black;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 66px;
  margin-bottom: 15px;
  font:
    14px/20px "Rajdhani",
    sans-serif;
  color: rgb(10, 10, 10);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #090909;
  position: absolute;
  left: 25px;
  top: 0;
  opacity: 0.6;
  -webkit-transition:
    all 0.12s,
    border-color 0.08s;
  transition:
    all 0.12s,
    border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -7px;
  left: 25px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* şifremi unuttum alanı */
.sifremiUnuttum {
  float: right;
  width: 50%;
}

.sifremiUnuttumInput {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.textbox {
  font-family: roboto, sans-serif;
  color: #666;
  display: block;
  font-size: 14px;
  width: 100%;
  height: 50px;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
}

.alert-danger {
  background-color: transparent;
  border: 0;
  color: #f00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.displayNone {
  display: none;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 3px;
  margin: 5px 0;
  border: 1px solid transparent;
  display: block;
  font-weight: bold;
  width: 100%;
}

.userWrapper {
  margin-bottom: 10px;
}

.button {
  background: #666;
}

.userLoginBtn {
  width: 100%;
  float: none;
  text-align: center;
  margin-top: 20px;
  clear: left;
  line-height: 1.5 !important;
  padding: 15px 0;
}

.userLoginBtn {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  height: auto;
  padding: 12px 0;
  line-height: normal;
  font-weight: 500;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.6px;
  float: none;
  width: 100%;
  display: block;
  margin: 10px 0 0 0;
  border: none !important;
}

.button {
  font-family: roboto, sans-serif;
  cursor: pointer;
  color: #fff;
  padding: 4px 5px;
  transition: all 0.3s ease 0s;
  border: none;
  text-align: center;
}

/*bu alan sayfadaki 2.görselin bilgileri */

.cover {
  width: 100%;
  height: 650px;
  background: url("../img/web-gomlek-011222.webp");
  background-position: -20rem -5rem;
}

.cover .content {
  height: 100%;
  width: 100%;
  padding-top: 45vmin;
}

.cover .content > h1 {
  font-family: var(--GowunBatang-font);
  font-size: 10vmin;
  color: whitesmoke;
}

.cover .content > p {
  color: white;
}

/* YAN MENU ALANI */

#sidebar {
  margin-top: -30%;
  margin-left: -35px;
}

/* Menülere üstten-alttan 20 px değerinde padding verdik. */
#sidebar ul.components {
  padding: 20px 0;
}

/* Menülerin font boyutunu artırdık ve menülere 10 px değerinde padding verdik. */
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a.dropdown-toggle {
  font-size: 1.2em;
}

/*bu alan sayfadaki 3.görselin bilgileri */

.cover-2 {
  width: 100%;
  height: 650px;
  background: url("../img/web-ceket-011222.png");
  background-position: -20rem -5rem;
}

.cover-2 .content {
  height: 100%;
  width: 100%;
  padding-top: 45vmin;
}

.cover-2 .content > h1 {
  font-family: var(--GowunBatang-font);
  font-size: 10vmin;
  color: whitesmoke;
}

.cover-2 .content > p {
  color: white;
}

/* Popup (arka plan) */
.modal-2 {
  display: none; /* Varsayılan olarak gizlidir */
  position: fixed; /* Yerinde kal */
  z-index: 1; /* Üstte */
  left: 0;
  top: 0;
  width: 100%; /* Ful Genişlik */
  height: 100%; /* Ful Yükseklik */
  overflow: auto; /* Gerekirse kaydırmayı etkinleştir */
  background-color: rgb(0, 0, 0); /* Yedek renk */
  background-color: rgba(0, 0, 0, 0.4); /* Siyah w / opaklık */
}

/* İçerik / Kutu */
.modal-content-2 {
  background-color: #fefefe;
  margin: 15% auto; /* % 15 üstten ve ortalanmış */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Ekran boyutuna bağlı olarak daha fazla veya daha az olabilir */
}

/* Kapat Düğmesi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* bu alan sepetim sayfasındaki kutu alanı */
.border-box {
  margin-top: 100px;
}

.border-box-2 {
  margin-top: -90px;
  margin-left: 110px;
}

.btn-2 {
  margin-top: -50px;
  width: 170px;
  margin-left: 820px;
}

.text-center {
  padding-top: 30px;
  font-weight: bold;
}

footer {
  background: rgba(0, 0, 0, 0.986);
}

/* Sayfa genişliği 768 px ve daha aşağı değerlerde olduğunda sidebar menüyü ve butonda bulunan yazıyı kaldırdık. */
@media (max-width: 768px) {
  #sidebar {
    padding-top: 95px;
    padding-left: 10px;
  }
}
